.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#logo {
  height: .5vh;
}

.container #login{
  margin-top: calc(20px + 5vh);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
      "header header header"
      ". login ."
      "footer footer footer";
}

.login {
  grid-area: login;
  margin: calc(10px + .5vh);
  padding: calc(20px + 2vh)
}

.selected {
  display: block;
}
.hidden {
  display: hidden;
}



footer {
  position: fixed;
  bottom: 0%;
  left: 0px;
  height: 50px;
  width: 100%;
           /* Footer height */
}

.show-pic {
  max-width: 600px;
}
a {
  font-size: large;
}

html { 
  background: url("https://i.imgur.com/j99HTWU.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.check {
  margin: 10px;
}

#adventure-labels{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.login-bg{
  background: url("https://i.imgur.com/j99HTWU.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px;
}

/* .back-layer {
  background:transparent;

} */

.index-bg{
  background-color: white;
  padding: 1vw;
  max-width: 90vw;
  border-radius: 10px;
  margin-bottom: 40px;
  
}

.navbar{
  margin: 0 auto;
  height: 10vw;
}

.jumbotron{
  background-image: url("https://i.imgur.com/S9qW3yb.png");
  
}

.center {
  display: flex;
  justify-content: center;
}

.show-pic {
  border-radius: 10px;
  margin: 20px 20px;
}

.show-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div-button {
  height: 38px;
  margin-right: 20px;
}
.div-button a{
  color: white;
}

.div-button:link{
  color: white;
}

.div-button:visited{
  color: white;
}