.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#logo {
  height: .5vh;
}

.container #login{
  margin-top: calc(20px + 5vh);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
      "header header header"
      ". login ."
      "footer footer footer";
}

.login {
  grid-area: login;
  margin: calc(10px + .5vh);
  padding: calc(20px + 2vh)
}

.selected {
  display: block;
}
.hidden {
  display: hidden;
}

div {
  margin: .5vh auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
           /* Footer height */
}

.show-pic {
  max-width: 600px;
}
a {
  font-size: large;
}

.div-button a{
  color: white;
}

.div-button:link{
  color: white;
}

.div-button:visited{
  color: white;
}

.check {
  margin: 10px;
}

#adventure-labels{
  text-align: left;
}