<!-- HEAD -->
<%- include('./partials/header') %>

<body>
<!-- NAV -->
<%- include('./partials/nav') %>
  

  <!-- Page Content -->
  <div class="container">

    <h1>Adventures</h1>
<% hikes.forEach((hike) => { %>
   <%= hike.name %>
<% }); %>

  </div>
  <!-- /.container -->

<!-- FOOTER -->
<%- include('./partials/footer') %>

</body>

</html>
