<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <h1>Choose Your Adventure</h1>
        <div>
            <a href="/adventures/backpacking/new" class="btn btn-primary btn-lg">Backpacking Adventure</a>
        </div>
        <div>
            <a href="/adventures/hiking/new" class="btn btn-primary btn-lg">Hiking Adventure</a>
        </div>
        
    </div><!---container-->
    
</body>
<%- include('./partials/footer') %>

</html>