<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1>Choose Your Adventure</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-2">
                <div id="typeSelect">
                    <select id="typeSelectSelect">
                        <option value="hiking">Hiking</option>
                        <option value="backpacking">Backpacking</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 offset-2">
                <div id="hiking-form">
                    <%-include('./partials/hiking-form')%>
                </div>
        
                <div id="backpacking-form">
                    This is the backpacking form
        
                </div>
            </div>
        </div>
       
        
        


    </div><!---container-->
    
</body>
<%- include('./partials/footer') %>


<script type="text/javascript">
    let select = document.getElementById('typeSelectSelect');
    let hikingForm = document.getElementById('hiking-form');
    let backpackingForm = document.getElementById('backpacking-form');
    backpackingForm.style.display = 'none';

    console.log(select);
    select.addEventListener('change', function (e){
        console.log(e.target.value, 'hitting target');
        let val = e.target.value;
        if(val === 'hiking'){
            backpackingForm.style.display = 'none';
            hikingForm.style.display = 'block';
        } else {
            backpackingForm.style.display = 'block';
            hikingForm.style.display = 'none';
        }
    })
    
</script>

</html>

